{% extends 'general/welcome.html' %}
{% load widget_tweaks %}

{% block workspace %}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form method="POST"> {% csrf_token %}
        <div class="mb-2">
            <label for="name" class="form-label">Nombre: </label>
            {{ form.name|add_class:"form-control"|attr:"id:name" }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="mb-2">
            <label for="name" class="form-label">Apellidos: </label>
            {{form.last_name|add_class:"form-control"|attr:"id:last_name"}}
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-2">
            <label for="name" class="form-label">Sexo: </label>
            {{form.sex|add_class:"form-select"|attr:"id:last_name"}}
            {% if form.sex.errors %}
                {% for error in form.sex.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Guardar</button>
            {% if person.id %}
            <a class="btn btn-primary" href="{% url 'persons_detail' person.id %}">Cancelar</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'persons_detail'}">Cancelar</a>
            {% endif %}
        </div>
    </form>
        </div>
        <div class="col-sm-4"></div>
    </div>



{% endblock workspace %}