{% extends 'general/welcome.html' %}

{% block pointer %}
<span class="text-secondary">Gesión | Personas</span>
{% endblock pointer %}


{% block workspace %}

<table class="table table-light table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Sexo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.get_sex_display }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'persons_detail' person.id %}"><i
                        class="bi bi-info-circle-fill"></i></a>
                <a class="btn btn-primary" href="{% url 'persons_update' person.id %}"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-danger" href="{% url 'persons_delete' person.id %}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <p>No existen personas en la base de datos <a href="{% url 'persons_create' %}">Nueva <i
                    class="bi bi-plus-circle"></i></a></p>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'persons_create' %}">Nueva <i class="bi bi-plus-circle"></i></a>

{% endblock workspace %}
