{% extends 'general/welcome.html' %}
{% load widget_tweaks %}

{% block pointer %}

{% if person.id %}
<spam class="text-secondary px-2">Personas | Actualizar | {{ person.name }}</spam>
{% else %}
<spam class="text-secondary px-2">Personas | Insertar</spam>
{% endif %}

{% endblock pointer %}

{% block workspace %}

<div class="row gx-2">
    <!-- left menu -->
    <div class="col-md-2">
        <aside>
            <div class="border rounded p-2 bg-light">
                {% include 'general/snippets/management_menu.html' %}
            </div>
        </aside>
    </div>
    <!-- main content -->
    <div class="col-md p-2 bg-light border rounded">
        <section>
            {% if person.id %}
            <h4>Actualizar persona: {{ person.name }}</h4>
            <hr class="mt-0">
            {% else %}
            <h4>Insertar nueva persona</h4>
            <hr class="mt-0">
            {% endif %}
            <form class="row g-3 needs-validation" method="POST" novalidate autocomplete="off"> {% csrf_token %}
                <div class="col-md-4">
                    <label for="name" class="form-label">Nombre: </label>
                    {{ form.name|add_class:"form-control"|attr:"id:name" }}
                    <div class="invalid-feedback">
                        El nombre es requerido.
                    </div>
                    {% if form.name.errors %}
                    {% for error in form.name.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-8"></div>

                <div class="col-md-4">
                    <label for="name" class="form-label">Apellidos: </label>
                    {{form.last_name|add_class:"form-control"|attr:"id:last_name"}}
                    <div class="invalid-feedback">
                        Los Apellidos son requeridos.
                    </div>
                    {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-8"></div>

                <div class="col-md-2">
                    <label for="name" class="form-label">Sexo: </label>
                    {{form.sex|add_class:"form-select"|attr:"id:last_name"}}
                    <div class="invalid-feedback">
                        El sexo es requerido.
                    </div>
                    {% if form.sex.errors %}
                    {% for error in form.sex.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                    {% if person.id %}
                    <a class="btn btn-primary btn-sm" href="{% url 'persons_detail' person.id %}">Cancelar</a>
                    {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'persons_list' %}">Cancelar</a>
                    {% endif %}
                </div>
            </form>
        </section>
    </div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock workspace %}