<p class="h6 text-center">Gestión</p>
<div id="managementMenu" class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'persons_list' %}">
        <i class="bi bi-person"></i> Personas
    </a>
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'promoters_list' %}">
        <i class="bi bi-person-circle"></i> Promoventes
    </a>
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'organisms_list' %}">
        <i class="bi bi-diagram-3"></i> Organismos
    </a>
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'entities_list' %}">
        <i class="bi bi-building"></i> Entidades
    </a>
    <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'complains_list' %}">
        <i class="bi bi-file-text"></i> Quejas
    </a>
</div>

