.vscode
db.tar.gz
db.sqlite3
shell.py
apoblacion/__pycache__
complains/migrations/__pycache__
complains/__pycache__
entities/__pycache__
entities/migrations/__pycache__
general/__pycache__
general/migrations/__pycache__
organisms/__pycache__
organisms/migrations/__pycache__
persons/__pycache__
persons/migrations/__pycache__
promoters/__pycache__
promoters/migrations/__pycache__
general/static/general/npm/node_modules