{% extends 'general/welcome.html' %}

{% block workspace %}

<table class="table table-light table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for organism in organisms %}
            <tr>
                <td>{{ organism.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'organisms_detail' organism.id %}"><i class="bi bi-info-circle-fill"></i></a>
                    <a class="btn btn-primary" href="{% url 'organisms_update' organism.id %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="{% url 'organisms_delete' organism.id %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <p>No existen organismos en la base de datos <a href="{% url 'organisms_create' %}">Nueva <i class="bi bi-plus-circle"></i></a></p>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'organisms_create' %}">Nuevo <i class="bi bi-plus-circle"></i></a>

{% endblock workspace %}