{% extends 'general/welcome.html' %}

{% block pointer %}
<span class="text-secondary px-2">Organismos</span>
{% endblock pointer %}

{% block workspace %}

<div class="row gx-2">
    <div class="col-md-2">
        <div class="border rounded p-2 bg-light">
            <p class="h6 text-center">Organismos</p>
            <div class="list-group mb-2">
                <a href="{% url 'organisms_create' %}" class="list-group-item list-group-item-action list-group-item-primary">Nuevo <i class="bi bi-plus-circle"></i></a>
            </div>
            {% include 'general/snippets/management_menu.html' %}
        </div>
    </div>
    <div class="col-md p-2 bg-light border rounded">
        <table class="table table-light table-striped table-hover table-sm" id="datatable">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for organism in organisms %}
                    <tr>
                        <td><a href="{% url 'organisms_detail' organism.id %}">{{ organism.name }}</a></td>
                    </tr>
                {% empty %}
                    <p>No existen organismos en la base de datos <a href="{% url 'organisms_create' %}">Nuevo <i class="bi bi-plus-circle"></i></a></p>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock workspace %}