{% extends 'general/welcome.html' %}

{% block pointer %}
<span class="text-secondary">Gesión | Entidades</span>
{% endblock pointer %}


{% block workspace %}

<table class="table table-light table-striped table-hover table-sm" id="datatable">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Organismo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.organism }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'entities_detail' entity.id %}"><i
                        class="bi bi-info-circle-fill"></i></a>
                <a class="btn btn-primary" href="{% url 'entities_update' entity.id %}"><i
                        class="bi bi-pencil-square"></i></a>
                <a class="btn btn-danger" href="{% url 'entities_delete' entity.id %}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% empty %}
        <p>No existen entidades en la base de datos <a href="{% url 'entities_create' %}">Nueva <i
                    class="bi bi-plus-circle"></i></a></p>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'entities_create' %}">Nueva <i class="bi bi-plus-circle"></i></a>

{% endblock workspace %}