{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'general/bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general/css/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general/DataTables/datatables.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'general/npm/node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <title>Atención a la Población</title>
</head>

<body>

    <div class="container-fluid my-1">

        {% block nav %}

        {% block pointer %}
        {% endblock pointer %}

        {% block login_out %}
        {% endblock login_out %}

        {% endblock nav %}

        {% block workspace %}

        {% endblock workspace %}

    </div>

    <script src="{% static 'general/bootstrap5/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'general/DataTables/datatables.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                // ordering: false,
                scrollY: '350px',
                lengthMenu: [[10, 15, 20, 25, -1], [10, 15, 20, 25, "Todas"]],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información en la tabla",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ entrada(s)",
                    "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
                    "infoFiltered": "(filtrada(s) de _MAX_ total de entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No hay coincidencias",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": activar para ordenar la columna ascendentemente",
                        "sortDescending": ": activar para ordenar la columna descendentemente"
                    }
                }
            });
        });
    </script>

</body>