{% extends 'general/base.html' %}
{% load widget_tweaks %}

{% block workspace %}
<div class="container">

    <div class="row p-5">
        <div class="col-md border rounded p-3 text-center">
            <div class="mx-auto w-75">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username|add_class:"form-control"|attr:"placeholder:Usuario" }}
                    </div>
                    <div class="mb-3">
                        {{ form.password|add_class:"form-control"|attr:"placeholder:Clave" }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Entrar <i
                            class="bi bi-box-arrow-right"></i></button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>

        </div>
        <div class="col-md border"></div>
    </div>


    {% if form.errors %}
    <p class="text-danger">Datos incorrectos, intente de nuevo.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p class="text-danger">Su cuenta no tiene acceso a esta página, para continuar,
        continúe con una cuenta que posea los privilegios.</p>
    {% else %}
    <p class="text-danger">Necesita Autenticarse para comenzar</p>
    {% endif %}
    {% endif %}

</div>
{% endblock workspace %}