{% extends 'general/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block workspace %}
<div class="container">
    <div class="text-center mt-3">
        <h3>Sitema de Gestión para la <span class="text-primary">Atención a la Población</span></h3>
    </div>
    <div class="row my-5">
        <div class="col-md p-3 text-center border-end border-2 border-primary">
            <div class="w-50 custom-centered">
                <div class="mb-2">
                    <img class="img-fluid" src="{% static 'general/img/logo-citma-half.png' %}" alt="">
                </div>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.username|add_class:"form-control"|attr:"placeholder:Usuario" }}
                    </div>
                    <div class="mb-3">
                        {{ form.password|add_class:"form-control"|attr:"placeholder:Clave" }}
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Entrar <i
                            class="bi bi-box-arrow-right"></i></button>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
            {% if form.errors %}
            <p class="text-danger">Datos incorrectos, intente de nuevo.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p class="text-danger">Su cuenta no tiene acceso a esta página, para continuar,
                continúe con una cuenta que posea los privilegios.</p>
            {% else %}
            <p class="text-danger">Necesita Autenticarse para comenzar</p>
            {% endif %}
            {% endif %}

        </div>
        <div class="col-md text-center">
            <i class="bi bi-person-check login-icon"></i>
        </div>
    </div>

</div>
{% endblock workspace %}