{% extends 'general/welcome.html' %}

{% block pointer %}
<span class="text-secondary">Gesión | Quejas</span>
{% endblock pointer %}

{% block workspace %}

<table class="table table-light table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Promovente</th>
            <th>Entidad Demandada</th>
            <th>Persona Demandada</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for complain in complains %}
            <tr>
                <td>{{ complain.reception_date }}</td>
                <td>{{ complain.promoter }}</td>
                <td>{{ complain.demmanded_entity }}</td>
                <td>{{ complain.demmanded_person }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'complains_detail' complain.id %}"><i class="bi bi-info-circle-fill"></i></a>
                    <a class="btn btn-primary" href="{% url 'complains_update' complain.id %}"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-danger" href="{% url 'complains_delete' complain.id %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <p>No existen quejas en la base de datos <a href="{% url 'complains_create' %}">Nueva <i class="bi bi-plus-circle"></i></a></p>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'complains_create' %}">Nueva <i class="bi bi-plus-circle"></i></a>

{% endblock workspace %}