{% extends 'general/welcome.html' %}
{% load widget_tweaks %}

{% block pointer %}

{% if complain.id %}
<spam class="text-secondary px-2">Quejas | Actualizar</spam>
{% else %}
<spam class="text-secondary px-2">Quejas | Insertar</spam>
{% endif %}
{% endblock pointer %}

{% block workspace %}

<div class="row gx-2">
    <!-- left menu -->
    <div class="col-md-2">
        <aside>
            {% include 'general/snippets/management_menu.html' %}
        </aside>
    </div>
    <!-- main content -->
    <div class="col-md p-2 bg-light border rounded">
        <section>
            {% if complain.id %}
            <h4>Actualizar queja</h4>
            <hr class="mt-0">
            {% else %}
            <h4>Insertar nueva queja</h4>
            <hr class="mt-0">
            {% endif %}
            <form class="row g-3" method="POST" autocomplete="off"> {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <ul>
                            {% for error in form.non_field_errors %}
                            <li><small class="form-text text-danger"> {{ error }} </small></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label for="reception_date" class="form-label">Fecha: </label>
                    {{ form.reception_date|add_class:"form-control"|attr:"type:date"|attr:"id:reception_date" }}
                    {% if form.reception_date.errors %}
                    {% for error in form.reception_date.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <label for="promoter" class="form-label">Promovente: </label>
                    {{ form.promoter|add_class:"form-control"|attr:"id:promoter" }}
                    {% if form.promoter.errors %}
                    {% for error in form.promoter.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <label for="demmanded_entity" class="form-label">Entidad demandada: </label>
                    {{ form.demmanded_entity|add_class:"form-select"|attr:"id:demmanded_entity" }}
                    {% if form.demmanded_entity.errors %}
                    {% for error in form.demmanded_entity.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
                <div class="col-sm-2">
                    <label for="management_level" class="form-label">Nivel de Dirección: </label>
                    {{ form.management_level|add_class:"form-control"|attr:"id:management_level" }}
                    {% if form.management_level.errors %}
                    {% for error in form.management_level.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <label for="demmanded_person" class="form-label">Persona demandada: </label>
                    {{ form.demmanded_person|add_class:"form-select"|attr:"id:demmanded_person" }}
                    {% if form.demmanded_person.errors %}
                    {% for error in form.demmanded_person.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <label for="belonging_entity" class="form-label">Entidad Perteneciente: </label>
                    {{ form.belonging_entity|add_class:"form-select"|attr:"id:belonging_entity" }}
                    {% if form.belonging_entity.errors %}
                    {% for error in form.belonging_entity.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <label for="problem" class="form-label">Planteamiento: </label>
                    {{form.problem|add_class:"form-control"|attr:"id:problem" }}
                    {% if form.problem.errors %}
                    {% for error in form.problem.errors %}
                    <small class="form-text text-danger"> {{ error }} </small>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm" type="submit">Guardar</button>
                    {% if complain.id %}
                    <a class="btn btn-primary btn-sm" href="{% url 'complains_detail' complain.id %}">Cancelar</a>
                    {% else %}
                    <a class="btn btn-primary btn-sm" href="{% url 'complains_list' %}">Cancelar</a>
                    {% endif %}
                </div>
            </form>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">


    </div>
    <div class="col-sm-4"></div>
</div>


{% endblock workspace %}