{% extends 'welcome.html' %}

{% block pointer %}
<spam class="text-secondary px-2">Quejas | Detalles</spam>
{% endblock pointer %}

{% block workspace %}

<div class="row gx-2">
    <!-- left menu -->
    <div class="col-md-2">
        <aside>
            <div class="border rounded p-2 bg-light">
                <p class="h6 text-center">Quejas</p>
                <div class="list-group mb-2">
                    <a href="{% url 'complains_create' %}"
                        class="list-group-item list-group-item-action list-group-item-primary">
                        Nueva <i class="bi bi-plus-circle"></i>
                    </a>
                    <a href="{% url 'complains_update' complain.id %}"
                        class="list-group-item list-group-item-action list-group-item-primary">
                        Editar <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary"
                        data-bs-toggle="modal" data-bs-target="#confirm-delete">
                        Eliminar <i class="bi bi-trash"></i>
                    </a>
                </div>
                {% include 'snippets/management_menu.html' %}
            </div>
        </aside>
    </div>
    <!-- main content -->
    <div class="col-md bg-light border rounded">
        <section>
            <div class="card my-1">
                <h1 class="card-header">Queja</h1>
                <div class="card-body">
                    <h5 class="card-title">Fecha:</h5>
                    <p class="card-text">{{ complain.reception_date }}</p>

                    <h5 class="card-title">Promovente:</h5>
                    <p class="card-text">{{ complain.promoter }}</p>

                    <h5 class="card-title">Entidad demandada:</h5>
                    <p class="card-text">{{ complain.demmanded_entity|default_if_none:"-" }}</p>

                    <h5 class="card-title">Persona demandada:</h5>
                    <p class="card-text">{{ complain.demmanded_person|default_if_none:"-" }}</p>

                    <h5 class="card-title">Nivel de administración:</h5>
                    <p class="card-text">{{ complain.management_level }}</p>

                    <h5 class="card-title">Entidad perteneciente:</h5>
                    <p class="card-text">{{ complain.belonging_entity }}</p>

                    <h5 class="card-title">Planteamiento:</h5>
                    <p class="card-text">{{ complain.problem }}</p>
                    <a href="{% url 'complains_update' complain.id %}" class="btn btn-primary btn-sm">
                        Editar <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirm-delete">
                        Eliminar <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDelete">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">Está seguro que desea eliminar esta queja? </p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'complains_delete' complain.id %}" method="post"> {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" value="Eliminar">
                    <a class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock workspace %}