{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <title>Atención a la Población</title>
</head>

<body>

    <div class="container-fluid my-1">

        {% block nav %}

        {% block pointer %}
        {% endblock pointer %}

        {% block login_out %}
        {% endblock login_out %}

        {% endblock nav %}

        {% block workspace %}

        {% endblock workspace %}

    </div>

    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'DataTables/datatables.js' %}"></script>
    <script src="{% static 'js/use_datatables.js' %}"></script>
    <script src="{% static 'js/validate_form.js' %}"></script>

</body>