{% extends 'general/welcome.html' %}

{% block workspace %}

<div class="row gx-2">
    <div class="col-md-2">
        <div class="border rounded p-2 bg-light">
            <p class="h6 text-center">Promoventes</p>
            <div class="list-group mb-2">
                <a href="{% url 'promoters_create' %}"
                    class="list-group-item list-group-item-action list-group-item-primary">
                    Nuevo <i class="bi bi-plus-circle"></i>
                </a>
                <a href="{% url 'promoters_update' promoter.id %}"
                    class="list-group-item list-group-item-action list-group-item-primary">
                    Editar <i class="bi bi-pencil-square"></i>
                </a>
                <a href="#"
                   class="list-group-item list-group-item-action list-group-item-primary"
                   class="btn btn-danger"
                   data-bs-toggle="modal"
                   data-bs-target="#confirm-delete">
                   Eliminar <i class="bi bi-trash"></i>
                </a>
            </div>
            <p class="h6 text-center">Gestión</p>
            <div class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-primary"
                    href="{% url 'persons_list' %}">
                    <i class="bi bi-person"></i> Personas
                </a>
                <a class="list-group-item list-group-item-action list-group-item-primary"
                    href="{% url 'organisms_list' %}">
                    <i class="bi bi-diagram-3"></i> Organismos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-primary"
                    href="{% url 'entities_list' %}">
                    <i class="bi bi-building"></i> Entidades
                </a>
                <a class="list-group-item list-group-item-action list-group-item-primary"
                    href="{% url 'complains_list' %}">
                    <i class="bi bi-file-text"></i> Quejas
                </a>
            </div>
        </div>
    </div>
    <div class="col-md bg-light border rounded">
        <div class="card mt-1">
            <h1 class="card-header">{{ promoter.person.name }} <small>{{ promoter.person.last_name }}</small></h1>
            <div class="card-body">
                <h5 class="card-title">Nombre:</h5>
                <p class="card-text">{{ promoter.person.name }}</p>

                <h5 class="card-title">Edad:</h5>
                <p class="card-text">{{ promoter.age }}</p>

                <h5 class="card-title">Nivel de Escolaridad:</h5>
                <p class="card-text">{{ promoter.get_school_level_display }}</p>

                <h5 class="card-title">Ocupación:</h5>
                <p class="card-text">{{ promoter.occupation }}</p>

                <h5 class="card-title">Dirección:</h5>
                <p class="card-text">{{ promoter.address }}</p>

                <h5 class="card-title">Lugar o teléfono:</h5>
                <p class="card-text">{{ promoter.phone_or_place }}</p>
                <a href="{% url 'promoters_update' promoter.id %}" class="btn btn-primary btn-sm">
                    Editar <i class="bi bi-pencil-square"></i>
                </a>
                <a href="#"
                   class="btn btn-danger btn-sm"
                   data-bs-toggle="modal"
                   data-bs-target="#confirm-delete">
                    Eliminar <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDelete">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">Está seguro que desea eliminar al promovente </p>
                <p class="lead">{{ promoter.person.name }} - {{ promoter.person.last_name }}</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'promoters_delete' promoter.id %}" method="post"> {% csrf_token %}
                    <input class="btn btn-danger btn-sm" type="submit" value="Eliminar">
                    <a class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock workspace %}