{% extends 'general/welcome.html' %}

{% block pointer %}
<span class="text-secondary">Gesión | Promoventes</span>
{% endblock pointer %}


{% block workspace %}

<table class="table table-light table-striped table-hover table-sm">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for promoter in promoters %}
            <tr>
                <td>{{ promoter.person.name }}</td>
                <td>{{ promoter.person.last_name }}</td>
                <td>{{ promoter.age }}</td>
                <td>
                   <a class="btn btn-primary" href="{% url 'promoters_detail' promoter.id %}"><i class="bi bi-info-circle-fill"></i></a>
                   <a class="btn btn-primary" href="{% url 'promoters_update' promoter.id %}"><i class="bi bi-pencil-square"></i></a>
                   <a class="btn btn-danger" href="{% url 'promoters_delete' promoter.id %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% empty %}
            <p>No existen promoventes en la base de datos <a href="{% url 'promoters_create' %}">Nueva <i class="bi bi-plus-circle"></i></a></p>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'promoters_create' %}">Nuevo <i class="bi bi-plus-circle"></i></a>

{% endblock workspace %}